.Header {
    height: 36px;
    padding: 10px 20px;
    border-bottom: 1px solid rgba(255,255,255,0.04);
    a {
        cursor: pointer;
        display: inline-block;
        padding: 10px 20px 10px 10px;
        &.title {
            font-weight: 700;
        }
        &:hover {
            text-decoration: underline;
        }
    }
    .float-right {
        float: right;
        > span {
            float: left;
            display: inline-block;
            padding: 10px 20px 10px 10px;
        }
    }
}
