$fonts: Metric, 'Segoe UI', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
$monospace-fonts: "Courier New", Courier, monospace;

$base-bg-color:     #ffffff;
$primary-bg-color:  #4f62bd;
$positive-bg-color: #4caf50;
$negative-bg-color: #d4302f;
$base-border-radius: 4px;

$theme-base-color: #5b7bf6;
$theme-accent-dark: darken(#5b7bf6, 7%);
$theme-focus-border: #3960f4;

$header-color: #4f62bd;           // ?? (TODO)
$header-text-color: #ffffff;      // ??

$background-color-white: #ffffff;       // white background
$background-color-white-hover: #f9fafd; // white background with hover
$background-color-light: #eef1fa;       // light background - used in sidebar, most styles
$background-color-light-hover: #e5e8f7; // light background with hover
$background-color-border: #e0e4f1;      // border color
$background-color-placeholder: #adb7d5; // placeholder color

$text-color-lightest: #b5b7b9;          // light text on white background
$text-color-lighter: #a3a4a7;           // light text on white background - used for most styles
$text-color-light: #9a9da4;             // light text on light background
$text-color-medium: #777;               // medium text on any background
$text-color-dark: #222;                 // black text on any background

$form-border-color: #c5cdd1;
$form-border-color-light: lighten(#c5cdd1, 12%);

$positive-text-color: $positive-bg-color;
$negative-text-color: $negative-bg-color;
